{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}">
    <title>Firework</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
</head>
<body>
    <div class="container" id="title">
      <h1 id="title-text">Firework client</h1>
    </div>
    <div class="registration-start-container">
      <h1>Login</h1>
        {% if error %}
            <p>{{ type }}</p>
        {% else %}
        {% endif %}
      <form action="" method="post">
          {% csrf_token %}
          <label for="name">NAME: </label>
          <input id="name" type="text" name="name" value="">
          <label for="password">PASSWORD: </label>
          <input id="password" type="password" name="password" value="">
          <input type="submit" value="login" />
      </form>
    </div>
</body>
</html>