{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}">
    <title>Firework client</title>
  </head>
  <body>
    <div class="container" id="title">
      <h1 id="title-text">Firework client</h1>
    </div>
    <div class="container" id="header">
      <div id="contentBox">
        <div class="column">
          <a href="#on" class="button7">Register</a>
        </div>
        <div class="column">
          <a href="#on" class="button7">Login</a>
        </div>
        <div class="column">
          <a href="#on" class="button7">Features</a>
        </div>
        <div class="column">
          <a href="#on" class="button7">Buy</a>
        </div>
      </div>
    </div>
  </body>
</html>