{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}">
    <title>Firework</title>
</head>
<body>
    <div class="container" id="title">
      <h1 id="title-text">Firework client</h1>
    </div>
    <div class="registration-start-container">
      <h1>Create account</h1>
      <form action="" method="post">
          {% csrf_token %}
          <label for="your_email">Your email: </label>
          <input id="your_email" type="text" name="your_email" value="">
          <input type="submit" value="send email" />
      </form>
    </div>
</body>
</html>