@font-face{font-family:'Roboto';src:url('font/Roboto-Medium.ttf');}
body {
  color: #FF0000;
  font-family: 'Roboto', sans-serif;
  background-image: url('../img/potunFon1.png');
  background-size: cover;
}

img, svg {
    vertical-align: middle;
}

.content {
  position: relative;
}

.wrapper{
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

#title.container {
  padding-top: 20px;
  padding-bottom: 40px;
  min-height: calc(10vh - 40px);
}

.menuItem {
  margin-left: 3px;
  margin-right: 3px;
}



.registration-start-container {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    background: #dedede;
    padding: 20px;
    border: solid 2px red;
    max-width: 400px
}


#title-text {
  text-align: center;
}

#contentBox {
    margin: 0 auto;
    width: 100%;
}

.column {
    float: left;
    margin: 0 auto;
    width: 25%;
    text-align: center
}

a.button7 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em 0.8em;
  border-radius: 3px;
  background: rgb(186,23,30);
  transition: 0.2s;
}
a.button7:hover { background: rgb(174, 26, 32); }
a.button7:active {
  background: rgb(136,18,23);
}

.c-button {
  min-width: 100px;
  min-height: 50px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}
.c-button:hover {
  background: #1d49aa;
}
.c-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}